version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "daily"
      time: "00:00"
    open-pull-requests-limit: 10
    labels:
      - "dependencies"
      - "design-template"
    commit-message:
      prefix: "chore"
      include: "scope"

