openapi: 3.0.0
info:
  title: Sketch2BIM API
  version: 1.0.0
  description: API for converting architectural sketches to BIM models
  contact:
    name: Sketch2BIM Support
    email: support@sketch2bim.com

servers:
  - url: https://api.sketch2bim.com/api/v1
    description: Production server
  - url: http://localhost:8000/api/v1
    description: Local development server

paths:
  /generate/upload:
    post:
      summary: Upload sketch for processing
      tags: [Generate]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '200':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Invalid file
        '401':
          description: Unauthorized
        '429':
          description: Rate limit exceeded

  /generate/status/{job_id}:
    get:
      summary: Get job status
      tags: [Generate]
      security:
        - bearerAuth: []
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatusResponse'
        '404':
          description: Job not found

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    UploadResponse:
      type: object
      properties:
        job_id:
          type: string
        message:
          type: string
        credits_remaining:
          type: integer
    
    JobStatusResponse:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum: [queued, processing, completed, failed, review]
        progress:
          type: integer
          minimum: 0
          maximum: 100
        message:
          type: string
        error:
          type: string

