<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KXDZLM4W');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) start-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0LNSC1VBGQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        
        gtag('config', 'G-0LNSC1VBGQ');
    </script>
    <!-- Google tag (gtag.js) end-->
    <!-- Impact tag start-->
    <meta name='impact-site-verification' value='406b4bdb-6dd4-4bc5-8ec1-37530d818b69'>
    <!-- Impact tag end-->
    <style>
        html {scroll-behavior: smooth; } /* Enable smooth scrolling for the entire page */
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Kushal Samant">
    <meta name="description" content="Official Site / Kushal Samant">
    <meta name="keywords" content="Architect, Architects, Architecture, Art, Artist, Artists, Curation, Curator, Curators, CSS, Design, Designer, Designers, Emoji Mosaic, Engineer, Engineering, Engineers, Film, HTML, Independent, Javascript, Media, Nomad, Nomads, Nomadic, Office, People, Places, Social, Visual Art, Web">
    <meta name="p:domain_verify" content="bdc4625d72c6065e2d597f201d1843b7"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>KVSHVL</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KXDZLM4W"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="grid-container">
        <header>
            <div class="grid-item">
                <h1><a href="https://kushalsamant.github.io">KVSHVL</a></h1>
                <p>
                    <a href="https://kushalsamant.github.io/about.html">About</a> / 
                    <a href="https://kushalsamant.github.io/people.html">People</a> / 
                    <a href="https://kushalsamant.github.io/projects.html">Projects</a> / 
                    <a href="https://kushalsamant.github.io/support.html">Get in Touch</a> / 
                    <a href="https://kvshvl.setmore.com" rel="noopener noreferrer" target="_blank">Book a Consultation</a>
                </p>
            </div>
        </header>
        <section>
            <div class="grid-item">
                {{ content }}
            </div>
        </section>
        <footer>
            <div class="grid-item">
                <p><strong>Social</strong><br>
                <a href="https://behance.net/kvshvl" rel="noopener noreferrer" target="_blank">Behance</a><br>
                <a href="https://www.instagram.com/kvshvl" rel="noopener noreferrer" target="_blank">Instagram</a><br>
                <a href="https://www.linkedin.com/in/kvshvl" rel="noopener noreferrer" target="_blank">LinkedIn</a><br>
                <a href="https://kvshvl.medium.com" rel="noopener noreferrer" target="_blank">Medium</a><br>
                <a href="https://in.pinterest.com/kvshvl" rel="noopener noreferrer" target="_blank">Pinterest</a><br>
                <a href="https://soundcloud.com/kvshvl" rel="noopener noreferrer" target="_blank">Soundcloud</a><br>
                <a href="https://twitch.tv/kvshvl" rel="noopener noreferrer" target="_blank">Twitch</a><br>
                <a href="https://twitter.com/kvshvl_" rel="noopener noreferrer" target="_blank">Twitter</a><br>
                <a href="https://www.youtube.com/@kvshvl/videos" rel="noopener noreferrer" target="_blank">YouTube</a></p>

                <p><strong>Platforms</strong><br>
                <a href="https://stock.adobe.com/contributor/212199501/KVSHVL" rel="noopener noreferrer" target="_blank">Adobe Stock</a><br>
                <a href="https://airbnb.co.in/users/show/21563871" rel="noopener noreferrer" target="_blank">Airbnb</a><br>
                <a href="https://alamy.com/portfolio/kvshvl" rel="noopener noreferrer" target="_blank">Alamy</a><br>
                <a href="https://kushalsamant.github.io/anthology.html">Anthology</a><br>
                <a href="https://contrado.com/stores/kvshvl" rel="noopener noreferrer" target="_blank">Contrado</a><br>
                <a href="http://www.fiverr.com/s/2Kqy7Ve" rel="noopener noreferrer" target="_blank">Fiverr</a><br>
                <a href="https://github.com/kushalsamant" rel="noopener noreferrer" target="_blank">Github</a><br>
                <a href="https://github.com/sponsors/kushalsamant" rel="noopener noreferrer" target="_blank">GitHub Sponsors</a><br>
                <a href="https://kvshvl.gumroad.com" rel="noopener noreferrer" target="_blank">Gumroad</a><br>
                <a href="https://news.ycombinator.com/user?id=kvshvl" rel="noopener noreferrer" target="_blank">Hacker News</a><br>
                <a href="https://patreon.com/c/kvshvl" rel="noopener noreferrer" target="_blank">Patreon</a><br>
                <a href="https://kvshvl.setmore.com" rel="noopener noreferrer" target="_blank">Setmore</a><br>
                <a href="https://sketchfab.com/3d-models/shelving-complete-cutting-files-guide-135b548e7c5e4b28a0aae1777c99840e" rel="noopener noreferrer" target="_blank">Sketchfab</a><br>
                <a href="https://311290.myshopify.com" rel="noopener noreferrer" target="_blank">Shopify</a><br>
                <a href="https://spoonflower.com/profiles/geometry?sub_action=shop" rel="noopener noreferrer" target="_blank">Spoonflower</a><br>
                <a href="https://shutterstock.com/g/kvshvl" rel="noopener noreferrer" target="_blank">Shutterstock</a><br>
                <a href="https://my-store-3157273.creator-spring.com" rel="noopener noreferrer" target="_blank">Teespring</a><br>
                <a href="https://kvshvl.threadless.com" rel="noopener noreferrer" target="_blank">Threadless</a><br>
                <a href="https://unsplash.com/@kvshvl" rel="noopener noreferrer" target="_blank">Unsplash</a></p>

                <p><strong>Legal</strong><br>
                <a href="https://www.kvshvl.in/cancellationandrefundpolicy.html">Cancellation and Refund Policy</a><br>
                <a href="https://www.kvshvl.in/privacypolicy.html">Privacy Policy</a><br>
                <a href="https://www.kvshvl.in/support.html">Support</a><br>
                <a href="https://www.kvshvl.in/termsofservice.html">Terms of Service</a></p>
            </div>
        </footer>
    </div>
</body>
</html>
