<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
<!-- Google tag (gtag.js) start-->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-MX1SJPM4HE"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-MX1SJPM4HE');
   </script>
<!-- Google tag (gtag.js) end-->
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="author" content="Kushal Samant">
   <meta name="description" content="Official Site / KVSHVL">
   <meta name="keywords" content="Architecture, CSS, Emoji Mosaic, HTML, Javascript, People, Places, Visual Art, Web">
   <meta name="p:domain_verify" content="bdc4625d72c6065e2d597f201d1843b7"/>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/assets/css/style.css">
   <title>KVSHVL</title>
</head>
<body>
   <div class="grid-container">
      <header>
         <div class="grid-item">
         <h1><a href="https://kushalsamant.github.io">KVSHVL</a></h1>
            <p>
               <a href="https://kushalsamant.github.io/read-me.html">Readme&nbsp;&#60;</a><br>
               <a href="https://kushalsamant.github.io/people.html">People&nbsp;&#60;</a><br>
               <a href="https://kushalsamant.github.io/about.html">About&nbsp;&#60;</a><br>
            </p>
            <div class="roadmap-spacer-1"></div>
               <p>
                  <a class="btn" href="https://kushalsamant.github.io/projects.html">Projects&nbsp;&#60;</a><br>
               </p>
            <div class="roadmap-spacer-2"></div>
         </div>
      </header>
      <section>
         <div class="grid-item">
            {{ content }}
         </div>
      </section>
      <footer>
         <div class="grid-item">
            <a href="https://kushalsamant.github.io"><img src="/assets/img/logokvshvl.png" alt="Back to Home" width="30">Back&nbsp;to&nbsp;Home&nbsp;&#60;</a>
         </div>
      </footer>
   </div>
</body>
</html>